.brand
  %a{:href => "/"}
    = image_tag src="brand.svg"
%ul.side-nav
  %li
    = link_to 'About', '/u/about.html'
  %li
    = link_to 'Portfolio', '/portfolio'
  %li
    = link_to 'Sketches', '/sketches'
  %li
    = link_to "Photos", "/photos"
  %li
    = link_to "Blog", "/blog"
  %li
    = link_to "Contact", "/contact"
.side-social
  %ul.inline-list.social-list
    %li
      %a{ :href => "http://fb.com/websiddu", :target => "_blank"}
        %em.icon-facebook-sign
    %li
      %a{ :href => "http://twitter.com/websiddu", :target => "_blank"}
        %em.icon-twitter-sign
    %li
      %a{ :href => "http://linkdin.com/websiddu", :target => "_blank"}
        %em.icon-linkedin-sign
    %li
      %a{ :href => "http://github.com/websiddu", :target => "_blank"}
        %em.icon-github-sign
    %li
      %a{ :href => "http://fb.com/websiddu", :target => "_blank"}
        %em.icon-instagram
