---
title: Welcome to Websiddu.com
body_class: index
---

.landing-page
  .l-dc-area.row
    .l-design-trigger.large-4.small-4.columns
      = image_tag("design.png")
    .l-avatar-default.large-4.small-4.columns
      = image_tag("sid-default.png")
    .l-code-trigger.large-4.small-4.columns
      = image_tag("code.png")
  .l-dc-intro
    %h2.l-n Namasthe!
    %h3.l-d
      = "I am Sid"
      %br
      = "I design, code, cook, click and I Learn..."

